<h1> Artikeldetails anzeigen </h1>

<p><strong>Title:  </strong><%= @article.title %></p>
<p><strong>Description:  </strong><%= @article.description %></p>

<%= link_to 'Bearbeiten' , edit_article_path(@article) %> |
<%= link_to 'Löschen' , article_path(@article), method: :delete, data: {confirm: "Bist du sicher, oder?"} %> |
<%= link_to 'Zuruck zum ArtikelListe' , articles_path %>